.container{
    display: flex;
    padding: 25px 30px;
    width: fit-content;
    margin: 5px auto;
    border : 1px solid #777;
    border-radius: 4px;
}

.container > div{
    text-align: center;
    width: 150px;
    margin: 30px;
}